mixin certificates(blockTitle)
	section.certificates
		.container
			.slider-wrap.swiper-container(dir="rtl")
				+slider-arrows
				.slider.swiper-wrapper.spotlight-group
					a.slider-slide.swiper-slide.spotlight(href=img+"certificates/img.jpg")
						+img('certificates', 'img', 'slider-slide__img', '1')
						+icon('loupe')
					a.slider-slide.swiper-slide.spotlight(href=img+"certificates/img.jpg")
						+img('certificates', 'img', 'slider-slide__img', '1')
						+icon('loupe')
					a.slider-slide.swiper-slide.spotlight(href=img+"certificates/img.jpg")
						+img('certificates', 'img', 'slider-slide__img', '1')
						+icon('loupe')
					a.slider-slide.swiper-slide.spotlight(href=img+"certificates/img.jpg")
						+img('certificates', 'img', 'slider-slide__img', '1')
						+icon('loupe')
					a.slider-slide.swiper-slide.spotlight(href=img+"certificates/img.jpg")
						+img('certificates', 'img', 'slider-slide__img', '1')
						+icon('loupe')
			.inner
				.block-title !{blockTitle}
				.text-container
					p Эксперт точно измерит размер оконных проемов и спланирует схему монтажа. От размеров и типа стен зависит финальная стоимость заказа.
					p Во время замера наш мастер расскажет Вам о том, какие есть варианты профилей и фурнитуры. Вы сможете сравнить образцы и выбрать подходящее.
					p После проведения замера мы сможем рассчитать для Вас финальную цену пластиковых окон с максимальными скидками. Чтобы мастер не завышал цену, и Вы бы получили точное и самое выгодное предложение.
					p Вы сможете оформить договор в день замера либо узнать об условиях рассрочки.